extends ../base

block content
    div.main__default
        h2 Change Title of Video
        form(method="POST")
            input(name="title", placeholder="Video Title", value=video.title, required)
            input(name="description", placeholder="Description", value=video.description, required, type="text", maxlength=140)
            input(name="hashtags", placeholder="Hashtags, seperated by comma", required, type="text", value=video.hashtags.join())
            input(value="Save", type="submit")