extends ../base

block content
    div.main__default
        if errorMessage
            div.errorMessage
                h4=errorMessage
        h2 Upload Video File 
        form(method="POST", enctype="multipart/form-data")
            input(name="video", type="file", accept="video/*", required)
            input(name="title", placeholder="Title", required, type="text", maxlength=100)
            input(name="description", placeholder="Description", required, type="text", maxlength=140)
            input(name="hashtags", placeholder="Hashtags, seperated by comma", required, type="text")
            input(type="submit", value="Upload Video")