$red: #ff0000;
$grey: #727272;
$black: #030303;
$greybg: #f9f9f9;
$bg: white;
$border: 1px solid #aaaaaa;
$ghblack: #24292e;
$blue: #065fd4;

@keyframes Visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
        visibility: visible;
    }
}
@keyframes Invisible {
    from {
        visibility: unset;
    } to {
        transform: translateY(-50px);
        visibility: hidden;
        opacity: 0;
    }
}