.watch {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;

    .video_content {
        display: flex;
        gap: 5px 0;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .video_content__titlepart {
            width: 100%;
            padding-bottom: 20px;
            border-bottom: $border;
            h2 {
                margin-bottom: 6px;
            }
        }
        .video_content__creatorpart {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 20px;
            margin-bottom: 10px;
            .description__avatar img {
                width: 50px;
                height: 50px;
                border-radius: 25px;
                margin-right: 10px;
            }
        }
        p {
            margin-left: 60px;
        }
    }
    .video_creater_editpart {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 0 10px;

        a {
            border: $border;
            background-color: $black;
            padding: 10px 15px;
            border-radius: 10px;
            font-weight: 600;
            color: white;
        }
    }
    .video_comment__add {
        margin: 0 auto;
        form {
            padding: 0;
            border: none;
            flex-direction: row;
            width: 50vh;
            textarea {
                width: 100%;
                height: 60px;
                border: $border;
                padding: 10px;
                box-sizing: border-box;
            }
            button {
                height: 60px;
                width: 80px;
                background-color: $blue;
                color: white;
                border: $border;
                font-size: 18px;
            }
        }
    }
    .video_comments {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        ul {
            width: 100%;
        }
        .video_comments__comment {
            margin: 0 auto;
            background-color: $greybg;
            color: black;
            width: 80%;
            padding: 20px;
    
        }
    }
}


