form {
    &:not(.search_bar) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 8px;
        border: $border;
        padding: 30px;
        border-radius: 10px;
        width: 40vh;
        label {
            font-size: 18px;
            font-weight: 600;
        }
        input {
            all:unset;
            background-color: $greybg;
            justify-content: center;
            border: none;
            width: 90%;
            padding: 15px 20px;
            border-radius: 10px;
        }

        input[type="submit"] {
            background-color: rgba(255,0,0, 0.7);
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }
    }
    
}