extends base

block content 
    h4 Change Title of Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description", placeholder="Description", value=video.description, required, type="text", maxlength=140)
        input(name="hashtags", placeholder="Hashtags, seperated by comma", required, type="text", value=video.hashtags.join())
        input(value="Save", type="submit")