header
    div.left_nav_wrapper
        div.sidebar
            a
                i.fas.fa-bars.fa-lg

        div.main_logo
            a(href="/")
                i.fab.fa-youtube.fa-2x
                h3 Premium

    include searchbar

    div.right_nav_wrapper
        div.upload_logo
            a(href="/videos/upload")
                i.fas.fa-upload.fa-2x
                span Upload

        i.fas.fa-bell.fa-2x
        i.fas.fa-th.fa-2x
        div.user_box
            div.user_box__logo
                if loggedIn
                    h4=loggedInUser.name
                    i.fas.fa-user-circle.fa-2x
                    div.user_box__loggedInMenu
                        a(href=`/users/${loggedInUser._id}`)
                            h4 My Profile
                        a(href=`/users/edit`)
                            h4 Edit Profile 
                        a(href="/users/logout")
                            h4 Logout
                
                else
                    a(href="/login")
                        h4 Login
                        i.fas.fa-user-circle.fa-2x

