extends ../base

block content 
    if(errorMessage)
        span=errorMessage
    form(method="POST")
        input(type="email", required, name="email", placeholder="Email")
        input(type="text", required, name="username", placeholder="Username")
        input(type="password", required, name="password", placeholder="Password")
        input(type="password", required, name="password2", placeholder="Confirm Password")
        input(type="text", required, name="name", placeholder="Name")
        input(type="text", name="location", placeholder="location")
        input(type="submit", value="Join")

    hr
    div 
        span Already have an account?
        a(href="/login") Login Now
